.piller_container {
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  padding: 15px 25px;
  justify-content: space-between;

  &::-webkit-scrollbar {
    display: none;
  }

  &__add_piller {
    width: 100%;
    height: 35px;
    display: flex;
    padding: 5px 8px;
    min-width: 158px;
    border-radius: 5px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.78);

    &__icon {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }

    &__text {
      color: white;
      font-weight: bolder;
    }
  }
}
